.wrap {
  display: flex;
  width: 99vw;
  overflow: hidden;

  .movies {
    display: flex;
    justify-content: flex-start;
    width: auto;

    img {
      margin: 5px;
      width: 200px;
      height: 296px;
    }
  }
}
