<div class="main-wrap">

  <section class="detail-section" *ngIf="currentMov">
    <div class="detail">
      <div class="rent">
        <span class="original"><strong>myNETFLIX</strong> ORIGINAL</span>

        <div class="form" *ngIf="!userService.getUser()['order']['movieId']">
          <input type="number" placeholder="days" min="1" max="3" #days [value]="currentDays"
            (click)="getMoviePrice(days.value)">
          <span class="price">{{ currentPrice }}€</span>

          <select name="city" #city>
            <option [value]="city.name" *ngFor="let city of cities">{{ city.name }}</option>
          </select>

          <button [disabled]="currentPrice === 0 || currentDays === 0" (click)="rentMovie()">Rent</button>
        </div>

      </div>
      <span class="title">{{ currentMov.title | uppercase }}</span>
      <div class="varios">
        <span class="vote_average">{{ currentMov.vote_average }} Match</span>
        <span class="release">{{ currentMov.release_date }}</span>
        <span class="spec">4K ULTRA HD</span>
        <span class="sound">5.1</span>
      </div>
      <p class="synopsis">{{ currentMov.overview }}</p>

    </div>
    <img class="poster" [ngStyle]="{'background-image': currentPoster}" src="">
  </section>

  <section class="movies-section">
    <div class="wrap" (wheel)="wheelControl($event)" #eleWrap1>
      <div class="movies" #eleMovies1>
        <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="poster" *ngFor="let movie of movies1"
          (click)="setMovieDetail(movie)">
      </div>
    </div>
    <div class="wrap" (wheel)="wheelControl($event)" #eleWrap2>
      <div class="movies" #eleMovies2>
        <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="poster" *ngFor="let movie of movies2"
          (click)="setMovieDetail(movie)">
      </div>
    </div>
  </section>
</div>