@import "../../../variables.scss";

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80vw;
  height: 75vh;
  background: rgba(0,0,0,0.8);
  border-radius: 3px;

  font-family: $main-fonts;
  color: $menu-font-color;

  .personal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 20%;
    min-height: 100px;
    width: 80%;
    border-bottom: 1px solid $border-color;

    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .current {
    display: flex;
    align-items: center;
    height: 15%;
    min-height: 70px;
    width: 80%;
    border-bottom: 1px solid $border-color;
  }

  .historic {
    height: 65%;
    width: 80%;
    padding-top: 20px;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

.movie {
  width: 100%;
  display: grid;
  grid-template-columns: 70px 130px 130px 100px 1fr 100px 50px;
  align-items: center;

  img {
    height: 50px;
    width: 40px;
  }

  span {
    display: block;
  }
}