<nav class="nav">
  <img src="../../../assets/img/myNetflix.png" alt="logo myNetflix" class="logo">

  <div class="bt-wrap">
    <a class="bt-movie" routerLink="/movies/premieres" routerLinkActive="active-link" *ngIf="true">
      <span>Premieres</span>
    </a>
    <a class="bt-movie" routerLink="/movies/popular" routerLinkActive="active-link" *ngIf="true">
      <span>Popular</span>
    </a>
    <a class="bt-movie" routerLink="/movies/genre" routerLinkActive="active-link" *ngIf="true">
      <span>Genre</span>
    </a>
    <a class="bt" routerLink="/signUp" routerLinkActive="active-link" *ngIf="false">
      <span>Sign Up</span>
    </a>
    <a class="bt" routerLink="/logIn" routerLinkActive="active-link" *ngIf="false">
      <span>Log In</span>
    </a>
    <input type="text" placeholder="Search by title" class="search" *ngIf="true">
    <img src="../../../assets/img/user.png" alt="user icon" class="user" *ngIf="true">
  </div>
</nav>